<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/about.css">
	<title>Document</title>
</head>
<body>

	<header class="header">
		<div class="container">
			<nav class="nav">
				<a href="#"><img src="img/logo.svg" alt="realproger logo" class="nav-logo"></a>
				<ul class="nav-list">
					<li class="nav-list-item"><a href="index.html">главная</a></li>
					<li class="nav-list-item"><a href="about.html">о нас</a></li>
					<li class="nav-list-item"><a href="services.html">услуги</a></li>
					<li class="nav-list-item"><a href="contacts.html">контакты</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="position">
		<div class="container">
			<div class="short-nav">
				<div class="current-position">
					<h1>О нашей студии</h1>
				</div>
				<div class="idk-position">
					<h3><a href="#" class="test1">о нас</a></h3>
					<h3><a href="#" class="test2">услуги</a></h3>
				</div>
			</div>
		</div>
	</div>

	<main>
		<section class="about-us">
			<div class="container">
				<div class="about-us-container">
					<div class="about-us-text">

						<h1 class="about-us-title">Немного о нас</h1>

						<p class="about-us-first-paragraph">Мы в <b>Realproger</b> считаем, что любую задачу, даже которая кажется «невозможной» можно решить, чем мы успешно и занимаемся! У нас собрались только творческие и ответственные люди,которым под силу решить любую проблему в сфере digital, чтобы помочь другим бизнесам достичь своих целей</p>

						<p class="about-us-second-paragraph">Используя накопленный за многие годы опыт работы с крупными мировыми корпорациями, мы создаем творческие инновации, которые обеспечивают реальные результаты.</p>
					</div>

					<div>
						<img src="img/placeholder-about.jpg" alt="placeholder"> 
					</div>
				</div>
			</div>
			<!-- PLACEHOLDER -->
		</section>
		
		<section  class="our-team">
			<div class="container">
				<div class="our-team-container">
					<div>
						<h1 class="our-team-title">Наша команда</h1>
						<p class="our-team-desc">Мастера своего дела</p>
					</div>
					<ul class="our-team-staff">
						<li class="our-team-staff-item">
							<img src="img/placeholder-ava.jpg" alt="FULL NAME | position">
							<p class="staff-full-name">FULL NAME</p>
							<p class="staff-position">position</p>
						</li>
						<li class="our-team-staff-item">
							<img src="img/placeholder-ava.jpg" alt="FULL NAME | position">
							<p class="staff-full-name">FULL NAME</p>
							<p class="staff-position">position</p>
						</li>
						<li class="our-team-staff-item">
							<img src="img/placeholder-ava.jpg" alt="FULL NAME | position">
							<p class="staff-full-name">FULL NAME</p>
							<p class="staff-position">position</p>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer-main">
				<div>
					<img src="img/test.svg" alt="">
					<ul class="social-media">
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/vk.svg" alt="ВКонтакте" class="social-media-img">
							</a>
						</li>
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/youtube.svg" alt="YouTube" class="social-media-img">
							</a>
						</li>
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/facebook.svg" alt="Facebook" class="social-media-img">
							</a>
						</li>
					</ul>
				</div>

				<div class="address-and-contacts">
					<div class="address">
						<p class="text">Адрес:</p>
						<p class="text">г Курган, ул. Бажова 74, д10</p>
					</div>

					<div class="contacts">
						<p class="text">Контакты:</p>
						<a href="tel:+78904569024">+7 890 456-90-24</a>
						<a href="mailto:newproger@gmail.com">newproger@gmail.com</a>
					</div>
				</div>

				<div>
					<div class="footer-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					</div>				
				</div>
			</div>
		</div>
	</footer>

</body>
</html>