<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/about.css">
	<link rel="stylesheet" href="css/services.css">

	<title>Document</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="nav">
				<a href="#"><img src="img/logo.svg" alt="realproger logo" class="nav-logo"></a>
				<ul class="nav-list">
					<li class="nav-list-item"><a href="index.html">главная</a></li>
					<li class="nav-list-item"><a href="about.html">о нас</a></li>
					<li class="nav-list-item"><a href="services.html">услуги</a></li>
					<li class="nav-list-item"><a href="contacts.html">контакты</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<section class="position">
			<div class="container">
				<div class="short-nav">
					<div class="current-position">
						<h1>О нашей студии</h1>
					</div>
					<div class="idk-position">
						<h3><a href="#" class="test1">о нас</a></h3>
						<h3><a href="#" class="test2">услуги</a></h3>
					</div>
				</div>
			</div>
		</section>

		<section class="about-us">
			<div class="container">
				<div class="about-us-container">
					<div class="about-us-text">

						<h1 class="about-us-title">Немного о нас</h1>

						<p class="about-us-first-paragraph">Мы в <b>Realproger</b> считаем, что любую задачу, даже которая кажется «невозможной» можно решить, чем мы успешно и занимаемся! У нас собрались только творческие и ответственные люди,которым под силу решить любую проблему в сфере digital, чтобы помочь другим бизнесам достичь своих целей</p>

						<p class="about-us-second-paragraph">Используя накопленный за многие годы опыт работы с крупными мировыми корпорациями, мы создаем творческие инновации, которые обеспечивают реальные результаты.</p>
					</div>

					
					<div>
						<h1 class="title-skills">Skills</h1>
						<div>
							<div>Web-Design</div>
							<div class="progress-bar"></div>
						</div>
						<div>
							<div>PHP (Bitrix/Laravel)</div>
							<div class="progress-bar"></div>
						</div>
						<div>
							<div>Node.js</div>
							<div class="progress-bar"></div>
						</div>
						<div>
							<div>JavaScript (React / Angular)</div>
							<div class="progress-bar"></div>
						</div>
						<div>
							<div>CSS</div>
							<div class="progress-bar"></div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- PLACEHOLDER -->
		</section>

		<section class="services">
			<div class="container">
				<div>
					<h1 class="services-title">Основные направления</h1>
					<p class="services-desc">Всё что нужно для производства сайта любой сложности</p>
				</div>

				<div class="services-container">
					<ul class="services-list">
						<li class="services-list-item">
							<img src="img/pencil.svg" alt="">
							<h2>WEB-Дизайн</h2>
							<p>Создание индивидуальной концепции, от лаконичных решений до сложных динамических элементов.</p>
						</li>
						<li class="services-list-item">
							<img src="img/smartphones.svg" alt="">
							<h2>FRONTEND</h2>
							<p>Красивая и отзывчивая frontend часть сайта, которая будет отлично работать на всех разрешениях и 	устройствах.</p>
						</li>
						<li class="services-list-item">
							<img src="img/screwdriver.svg" alt="">
							<h2>BACKEND</h2>
							<p>Стабильный и быстрый backend сайта с гибкой админкой и высоким уровнем безопасности.</p>
						</li>
						<li class="services-list-item">
							<img src="img/screwdriver.svg" alt="">
							<h2>BACKEND</h2>
							<p>Стабильный и быстрый backend сайта с гибкой админкой и высоким уровнем безопасности.</p>
						</li>
						<li class="services-list-item">
							<img src="img/screwdriver.svg" alt="">
							<h2>BACKEND</h2>
							<p>Стабильный и быстрый backend сайта с гибкой админкой и высоким уровнем безопасности.</p>
						</li>
						<li class="services-list-item">
							<img src="img/screwdriver.svg" alt="">
							<h2>BACKEND</h2>
							<p>Стабильный и быстрый backend сайта с гибкой админкой и высоким уровнем безопасности.</p>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer-main">
				<div>
					<img src="img/test.svg" alt="">
					<ul class="social-media">
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/vk.svg" alt="ВКонтакте" class="social-media-img">
							</a>
						</li>
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/youtube.svg" alt="YouTube" class="social-media-img">
							</a>
						</li>
						<li class="social-media-item">
							<a href="#" class="social-media-link">
								<img src="img/facebook.svg" alt="Facebook" class="social-media-img">
							</a>
						</li>
					</ul>
				</div>

				<div class="address-and-contacts">
					<div class="address">
						<p class="text">Адрес:</p>
						<p class="text">г Курган, ул. Бажова 74, д10</p>
					</div>

					<div class="contacts">
						<p class="text">Контакты:</p>
						<a href="tel:+78904569024">+7 890 456-90-24</a>
						<a href="mailto:newproger@gmail.com">newproger@gmail.com</a>
					</div>
				</div>

				<div>
					<div class="footer-text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					</div>				
				</div>
			</div>
		</div>
	</footer>

</body>
</html>